/* src/main/resources/static/css/profile.css */

/* Font chữ chung */
body {
    font-family: 'Quicksand', sans-serif;
}

/* Hiệu ứng Modal */
.modal-enter {
    opacity: 0;
    transform: scale(0.95);
}
.modal-enter-active {
    opacity: 1;
    transform: scale(1);
    transition: opacity 0.3s ease-out, transform 0.3s ease-out;
}
.modal-exit {
    opacity: 1;
    transform: scale(1);
}
.modal-exit-active {
    opacity: 0;
    transform: scale(0.95);
    transition: opacity 0.2s ease-in, transform 0.2s ease-in;
}

/* Sao đánh giá */
.star-icon {
    transition: all 0.2s;
}
.star-icon:hover {
    transform: scale(1.2);
}